.phoneNumber {
  margin-top: 10px;
}

.phoneList {
  display: flex;
}

.backIcon {
  width: 100%;
  text-align: right;
  margin-right: 25px;
  margin-top: 10px;
}

.lisetContainer {
  height: 200vh;
  overflow-x: hidden;
  overflow-y: auto;
}
